{% extends 'base.html' %}
{% load staticfiles header %}
{% block content %}
    {% menu_about %}
    <hr class="line">
    <section class="company-info">
        <div class="company-info__pols">
            <p class="pols__title">Об управлении</p>
            <p class="pols__title-ul">Основные направления работы: </p>
            <ul>
                <li class="pols__ul-list">проведение единой государственной политики в области имущественных и земельных
                    отношений на территории Липецкой области;
                </li>
                <li class="pols__ul-list">обеспечение эффективного управления, распоряжения, рационального использования
                    в
                    пределах своей компетенции государственного имущества.
                </li>
            </ul>
        </div>

{#        <div class="company-info__left-bar">#}
{#            <a href="">Положение</a>#}
{#            <a href="">Руководство</a>#}
{#            <a href="../../uizo-Egor-php/deportaments/departments.php">Отделы</a>#}
{#            <a href="../../uizo-Egor-php/contact/contact.php">Схема проезда</a>#}
{#            <a href="../../uizo-Egor-php/contact/qes.php">Вопрос - ответ</a>#}
{#            <a href="#">Карты районов</a>#}
{#        </div>#}
    </section>
{% endblock %}

