{% extends 'base.html' %}
{% load staticfiles header %}
{% block content %}
    <section class="departments">
        <p class="title-page ">Отделы</p>
        <div class="table-header">
            <p class="table-header__name-otdel">Наименование отдела</p>
            <p class="table-header__dolznostb">Должность</p>
            <p class="table-header__fio">ФИО</p>
            <p class="table-header__phone">Телефон</p>
        </div>

        <div class="table-value">
            <a href="deportament-detail.html" class="table-value__name-otdel">
                Отдел анализа правоприменительной практики и координации деятельности
                органов местного самоуправления
            </a>
            <div class="wrap__table-value__dolznostb">
                <p class="table-value__dolznostb">Начальник отдела</p>
                <p class="table-value__dolznostb">Зам. нач. отдела</p>
            </div>

            <div class="wrap__table-value__fio">
                <p class="table-value__fio">Исаева Юлия Игоревна</p>
                <p class="table-value__fio">Ельчанинова Юлия Михайловна</p>
            </div>

            <div class="wrap__table-value__phone">
                <p class="table-value__phone">22-23-67</p>
                <p class="table-value__phone">22-23-67</p>
            </div>
        </div>
    </section>
{% endblock %}