
    <section class="contact">
      <p class="title-page ">Контакты</p>

      <div class="deportament-detail-table-header">
        <p class="deportament-detail-table-header__dolznostb">Должность</p>
        <p class="deportament-detail-table-header__fio">ФИО</p>
        <p class="deportament-detail-table-header__phone">Телефон</p>
      </div>

      <div class="deportament-detail-table-value">
        <p class="deportament-detail-table-value__dolznostb">
          Начальник отдела
        </p>
        <p class="deportament-detail-table-value__fio">Исаева Юлия Игоревна</p>
        <p class="deportament-detail-table-value__phone">22-23-67</p>
      </div>
      <div class="deportament-detail-table-value">
        <p class="deportament-detail-table-value__dolznostb">
          Начальник отдела
        </p>
        <p class="deportament-detail-table-value__fio">Исаева Юлия Игоревна</p>
        <p class="deportament-detail-table-value__phone">22-23-67</p>
      </div>
      <div class="deportament-detail-table-value">
        <p class="deportament-detail-table-value__dolznostb">
          Начальник отдела
        </p>
        <p class="deportament-detail-table-value__fio">Исаева Юлия Игоревна</p>
        <p class="deportament-detail-table-value__phone">22-23-67</p>
      </div>
      <div class="deportament-detail-table-value">
        <p class="deportament-detail-table-value__dolznostb">
          Начальник отдела
        </p>
        <p class="deportament-detail-table-value__fio">Исаева Юлия Игоревна</p>
        <p class="deportament-detail-table-value__phone">22-23-67</p>
      </div>

      <section class="deportament-detail__about">
        <p class="deportament-detail__about-email">
          Адрес электронной почты отдела:
          <span class="mid-bold">rzem@admlr.lipetsk.ru.</span>
        </p>
        <p class="deportament-detail__about-phone">
          Телефон специалистов отдела: <span class="mid-bold">22-65-09</span>
        </p>
      </section>

      <section class="deportament-detail__about__deportament">
        <div class="about__deportament__wrap">
          <p class="about__deportament__title">
            Основные направления работы отдела:
          </p>
          <ul>
            <li class="about__deportament__li">
              Осуществляет мониторинг правоприменения нормативных правовых актов
              на территории Липецкой области в сфере земельных отношений.
            </li>
            <li class="about__deportament__li">
              Осуществляет мониторинг предоставления земельных участков,
              находящихся в государственной или муниципальной собственности,
              гражданам, имеющим трех и более детей на территории Липецкой
              области.
            </li>
            <li class="about__deportament__li">
              Оказывает бесплатную юридическую помощь в виде правового
              консультирования в устной и письменной форме по вопросам,
              относящимся к компетенции Управления, в порядке, установленном
              законодательством Российской Федерации для рассмотрения обращений
              граждан, категориям граждан, имеющим право на получение бесплатной
              юридической помощи.
            </li>
            <li class="about__deportament__li">
              <ul>
                <li class="about__deportament__li">
                  Осуществляет взаимодействие с органами местного
                  самоуправления, оказывает методическую, консультативную помощь
                  в части:
                </li>
                <li class="about__deportament__ul-li">
                  - управления и распоряжения земельными участками, находящимися
                  в муниципальной собственности или государственная
                  собственность на которые не разграничена;
                </li>
                <li class="about__deportament__ul-li">
                  - разграничения государственной собственности на землю;
                </li>
                <li class="about__deportament__ul-li">
                  - разработки единообразных нормативных правовых актов,
                  регулирующих земельные отношения;
                </li>
                <li class="about__deportament__ul-li">
                  - разработки форм административных регламентов предоставления
                  муниципальных услуг;
                </li>
                <li class="about__deportament__ul-li">
                  - подготовки программ в части определения мероприятий,
                  необходимых для эффективного управления и распоряжения
                  земельными ресурсами муниципальных образований;
                </li>
                <li class="about__deportament__ul-li">
                  - внедрения специализированного программного обеспечения в
                  муниципальных образованиях по вопросам управления имуществом и
                  земельными ресурсами;
                </li>
                <li class="about__deportament__ul-li">
                  - повышения показателей эффективности деятельности органов
                  местного самоуправления;
                </li>
                <li class="about__deportament__ul-li">
                  - организации семинаров в сфере земельных отношений.
                </li>
              </ul>
            </li>
            <li class="about__deportament__li">другие вопросы.</li>
          </ul>
        </div>
      </section>
    </section>
    <section class="links">
      <div class="links__wrap">
        <p class="wrap-content__title">
          Информация о заключенных договорах аренды с субъектами МСП
        </p>
        <div class="content-link__wrap">
          <p>PDF, 59.4 кБ</p>
          <a href="#"><img src="../img/imgsite/download.png" alt=""/></a>
        </div>
        <hr class="link-hr" />
      </div>

      <div class="links__wrap">
        <p class="wrap-content__title">
          Информация о заключенных договорах аренды с субъектами МСП
        </p>
        <div class="content-link__wrap">
          <p>PDF, 59.4 кБ</p>
          <a href="#"><img src="../img/imgsite/download.png" alt=""/></a>
        </div>
        <hr class="link-hr" />
      </div>
    </section>
