{% extends 'base.html' %}
{% load staticfiles header %}
{% block content %}
    <section class="news">
        <p class="wrap-news__title">Новости управления</p>
        <div class="news-wrap">
            {% for new in news %}
                <a href="{{ new.get_absolute_url }}" class="news-block-small">
                    <img class="news-block-small__img" src="{{ MEDIA_URL }}{{ new.picture.url }}" alt=""/>
                    <p class="news-block-small__data">{{ new.date }}</p>
                    <p class="news-block-small__text">
                        {{ new.text|safe|truncatewords:31 }}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
